.back-to-top{font-family: RobotoRegular,sans-serif;
    font-size: 14px;
    position: fixed;
    bottom: 8.5em;
    right: 3em;
    height: 56px;
    width: 56px;
    background-image: url(https://d2xamzlzrdbdbn.cloudfront.net/imagesrewamp/go-to-top.png);
    background-repeat: no-repeat;
    text-decoration: none;
    color: #000;
    z-index: 111111;
    font-size: 12px;
    padding: 1em;
    display: none;
}